# Python __pycache__ 및 임시 파일
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# 가상환경
venv/
env/
.venv/

# PyInstaller 빌드 폴더
dist/
build/
*.spec

# VSCode / IDE 설정 파일
.vscode/
.idea/

# 자동 저장된 CSV 로그 파일
*.csv

# 윈도우 시스템 파일
Thumbs.db
Desktop.ini

# 파이썬 환경 설정
*.egg-info/
.eggs/

# 기타 숨김 파일
.DS_Store
